* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2,
h3,
p {
    color: white;
}



body {
    background-color: #ffffff;
    /* height: 1000px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.counteaner {
    background-color: #0a1114;
    height: 95%;
    width: 95%;
    /* display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto auto auto auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 50px;
    margin: 20px;
    position: relative;
}

/* HEADER SECTION START */
header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1%;
    box-shadow: 0px 1px 1px white;
    width: 100%;
}
header ul  {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}


header h1 {
    color: white;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header a select {
    color: rgb(0, 0, 0);

}
.main-list-phone {
  display: none;
}
.list {
  width: 50px;
  height: 35px;
  background-color: rgb(140, 138, 138);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2px;
  border-radius: 5px;
}
.list:hover .ul-small {
  display: block;

}
.list .ul-small {
  display: none;
  background-color: black;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50px;
   z-index: 555;
}
.list .ul-small::before {
  content: "";
  width: 0px;
  border: 10px solid white;
  border-color: transparent transparent white transparent;
  position: absolute;
  top: -20px;
  right: 16%;
}
.list .option {
  width: 30px;
  height: 5px;
  background: black;
}
.list .ch {
  width: 15px;
  transition: 0.5s;
}
.list:hover .ch  {
  width: 30px;
}
.list .ul-small li {
  padding: 10px;
}
.list .ul-small li:not(:last-child) {
  border-bottom: 2px solid white;
}
.list .ul-small li:hover a {
  padding-left: 20px;
  transition: 0.5s;
}
.list .ul-small li a {

}
/* HEADER SECTION END */
@media (max-width: 951px) {
   .main-list-phone {
    display: block;
   }
   .ul-large {
    display: none;
   }
}
/* NAV SECTION START */
nav {
    background-color: transparent;
    grid-row: 2/3;
    grid-column: 1/11; 
    padding: 1%;
}
nav ul {
    display: flex;
    justify-content: space-around; 
    list-style: none;
    padding: 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid ;
    padding-bottom: 10px;
}
/* NAV SECTION END */

/* SECTION SECTION START */
section {
    background-color: transparent;
    grid-row: 3/4;
    grid-column: 1/11; 
    box-shadow: 0px 1px 1px white;
}
.images {
  max-width: 200px;
}
/* SEC-0 START */
.sec-0 {
    padding: 10%;
    display: grid;
    /* grid-template-columns: repeat(10,1fr);  */
    gap: 20px;
}


.sec-0 img {
    border-radius: 10px;
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    /* animation-delay: 1s; */
}


.sec-0 a {
    text-decoration: none;
    color: #fff;
    background-color: #0b2c8d;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.5);
}
/* SEC-0 END */

/* SEC-1 START */

.sec-1 {
    padding: 10%;
    display: grid;
    gap: 20px;
}

.sec-1 a {
    text-decoration: none;
    color: #fff;
    background-color: #0b2c8d;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.5);
}

/* SEC-1 END */

/* SEC-2 START */
.sec-2 {
    padding: 10%;
    display: grid;
    gap: 20px;
}

.sec-2 a {
    text-decoration: none;
    color: #fff;
    background-color: #0b2c8d;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.5);
}

/* SEC-2 END */

/* SEC-3 START */

.sec-3 {
    padding: 10%;
    display: grid;
    gap: 20px;
}

.sec-3 a {
    text-decoration: none;
    color: #fff;
    background-color: #0b2c8d;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.5);
}
/* SEC-3 END */
/* SEC-4 START */
.sec-4 {
    padding: 10%;
    display: grid;
    gap: 20px;
}

.sec-4 a {
    text-decoration: none;
    color: #fff;
    background-color: #0b2c8d;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.5);
}
/* SEC-4 END */

/* SECTION SECTION END */

/* FOOTER SECTION START */
footer {
    color: white;
    background-color: black;
    grid-row: 4/5;
    grid-column: 1/11; 
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2%;
}

footer .icones {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    opacity: 0.5;
    width: 30px;
    /* margin: 10px; */
}
/* FOOTER SECTION END */






/* animation section start  */
.typewriter {
    --blue: #5C86FF;
    --blue-dark: #275EFE;
    --key: #fff;
    --paper: #EEF0FD;
    --text: #D3D4EC;
    --tool: #FBC56C;
    --duration: 3s;
    position: relative;
    -webkit-animation: bounce05 var(--duration) linear infinite;
    animation: bounce05 var(--duration) linear infinite;
  }
  
  .typewriter .slide {
    width: 92px;
    height: 20px;
    border-radius: 3px;
    margin-left: 14px;
    transform: translateX(14px);
    background: linear-gradient(var(--blue), var(--blue-dark));
    -webkit-animation: slide05 var(--duration) ease infinite;
    animation: slide05 var(--duration) ease infinite;
  }
  
  .typewriter .slide:before, .typewriter .slide:after,
  .typewriter .slide i:before {
    content: "";
    position: absolute;
    background: var(--tool);
  }
  
  .typewriter .slide:before {
    width: 2px;
    height: 8px;
    top: 6px;
    left: 100%;
  }
  
  .typewriter .slide:after {
    left: 94px;
    top: 3px;
    height: 14px;
    width: 6px;
    border-radius: 3px;
  }
  
  .typewriter .slide i {
    display: block;
    position: absolute;
    right: 100%;
    width: 6px;
    height: 4px;
    top: 4px;
    background: var(--tool);
  }
  
  .typewriter .slide i:before {
    right: 100%;
    top: -2px;
    width: 4px;
    border-radius: 2px;
    height: 14px;
  }
  
  .typewriter .paper {
    position: absolute;
    left: 24px;
    top: -26px;
    width: 40px;
    height: 46px;
    border-radius: 5px;
    background: var(--paper);
    transform: translateY(46px);
    -webkit-animation: paper05 var(--duration) linear infinite;
    animation: paper05 var(--duration) linear infinite;
  }
  
  .typewriter .paper:before {
    content: "";
    position: absolute;
    left: 6px;
    right: 6px;
    top: 7px;
    border-radius: 2px;
    height: 4px;
    transform: scaleY(0.8);
    background: var(--text);
    box-shadow: 0 12px 0 var(--text), 0 24px 0 var(--text), 0 36px 0 var(--text);
  }
  
  .typewriter .keyboard {
    width: 120px;
    height: 56px;
    margin-top: -10px;
    z-index: 1;
    position: relative;
  }
  
  .typewriter .keyboard:before, .typewriter .keyboard:after {
    content: "";
    position: absolute;
  }
  
  .typewriter .keyboard:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 7px;
    background: linear-gradient(135deg, var(--blue), var(--blue-dark));
    transform: perspective(10px) rotateX(2deg);
    transform-origin: 50% 100%;
  }
  
  .typewriter .keyboard:after {
    left: 2px;
    top: 25px;
    width: 11px;
    height: 4px;
    border-radius: 2px;
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    -webkit-animation: keyboard05 var(--duration) linear infinite;
    animation: keyboard05 var(--duration) linear infinite;
  }
  
  @keyframes bounce05 {
    85%, 92%, 100% {
      transform: translateY(0);
    }
  
    89% {
      transform: translateY(-4px);
    }
  
    95% {
      transform: translateY(2px);
    }
  }
  
  @keyframes slide05 {
    5% {
      transform: translateX(14px);
    }
  
    15%, 30% {
      transform: translateX(6px);
    }
  
    40%, 55% {
      transform: translateX(0);
    }
  
    65%, 70% {
      transform: translateX(-4px);
    }
  
    80%, 89% {
      transform: translateX(-12px);
    }
  
    100% {
      transform: translateX(14px);
    }
  }
  
  @keyframes paper05 {
    5% {
      transform: translateY(46px);
    }
  
    20%, 30% {
      transform: translateY(34px);
    }
  
    40%, 55% {
      transform: translateY(22px);
    }
  
    65%, 70% {
      transform: translateY(10px);
    }
  
    80%, 85% {
      transform: translateY(0);
    }
  
    92%, 100% {
      transform: translateY(46px);
    }
  }
  
  @keyframes keyboard05 {
    5%, 12%, 21%, 30%, 39%, 48%, 57%, 66%, 75%, 84% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
  
    9% {
      box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
  
    18% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 2px 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
  
    27% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 12px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
  
    36% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 12px 0 var(--key), 60px 12px 0 var(--key), 68px 12px 0 var(--key), 83px 10px 0 var(--key);
    }
  
    45% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 2px 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
  
    54% {
      box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
  
    63% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 12px 0 var(--key);
    }
  
    72% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 2px 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
  
    81% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 12px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
  }
  /* animation section end */
